

button{
    background: rgba( 136, 254, 4, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    border-radius: 10px;
    border: 5px solid rgba( 255, 255, 255, 0.18 );
}

.container{
    max-width: 300px;
    height: 100%;
    max-height: 745px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba( 255, 255, 255, 0.3 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 11px );
-webkit-backdrop-filter: blur( 11px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

h1{
    font-size: 35px;
    text-align: center;
    padding: 20px;
}

#result{
   text-align: center;
}

#result img{
    width: 30%;
}

#start-text{
    font-size: 36px;
    padding: 20px;
}

#group-btn{
    display: flex;
    width: 100%;
}

#group-btn > button > img{
    width: 100%;
}


.container2 {
  width:800px;
  margin:0 auto;
  display: flex;
  align-items: center;
}


#my_canvas{ 
  background:#000000; 
  border:#000 1px solid; 
}
.boton{
    color:red;
    font-size: 40px;
    background-color: #000000;
    cursor: pointer;
    border-radius: 8px;
    border:2px solid blue;
}
.boton:hover{
    background-color: white;
    color: #000000;
}