* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 50px;
  }
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Open Sans Condensed', sans-serif;
    overflow: hidden;
    color: #27ae60;
  }
  button {
    border: 1px solid white;
    color: white;
    background: #27ae60;
    cursor: pointer;
    transition: all .3s;
  }
  
  button:hover {
    background: white;
    ;
    border-color: #27ae60;
    transition: all .5s;
  }
  
  button:focus, button:active {
    outline: none;
  }
  
  #main {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 40px;
    text-align: center;
  }
  /*
  #apply {
      display: none;
    position: fixed;
    top: 5px;
    left: 10px;
    z-index: 9;
  }
  */
  #contentInicio {
    position: relative;
    width: 0%;
    height: 0%;
    overflow: hidden;
    border: 3px solid #27ae60;
  }
  
  #contentInicio.appears {
    display: flex;
    top: 50%;
    left: 50%;
    height: 0%;
    width: 0%;
    animation: appears 2s forwards;
    flex-direction: column;
    justify-content: center;
  }
  
  #contentInicio.cross {
    top: 50%;
    left: 50%;
    height: 0%;
    width: 0%;
    animation: cross 2s forwards;
  }
  
  @keyframes appears {
    0% {
      opacity: 1;
      width: 0%;
      height: 5px;
    }
  
    50% {
      width: 100%;
      height: 5px;
      left: 0%;
    }
  
    75% {
      width: 100%;
      height: 5px;
      top: 50%;
    }
    
    100% {
      opacity: 1;
      width: 100%;
      height: 100%;
      left: 0%;
      top: 0%;
    }
  }
  
  
  @keyframes cross {
    0% {
      opacity: 1;
      width: 0%;
      height: 5px;
      transform: rotate(-45deg);
    }
  
    50% {
      width: 100%;
      height: 5px;
      left: 0%;
      transform: rotate(-45deg);
    }
    
    60% {
      transform: rotate(0deg);
    }
  
    75% {
      width: 100%;
      height: 5px;
      top: 50%;
    }
    
    100% {
      opacity: 1;
      width: 100%;
      height: 100%;
      left: 0%;
      top: 0%;
    }
  }
  iframe{
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    justify-content: center;
  }